@charset "UTF-8";

 ul {
   margin:0px;
   padding:0px;
   list-style-type: none;
   width:720px;
   background: #159cb0 url(../imagens/fundo-horizontal.png) repeat-x;
   float:left;
}

ul li{
    float:left;
}

ul a {
    text-decoration:none;
    display:block;
    padding:0px 32px;
    line-height:32px;
    color:#fff;
    background:url(../imagens/divisor.png) repeat-y;
}

ul #primeiro a{
    background:none;
}

ul a:hover{
    color: #085662;
    background: #44cade;
}

    #home .home{
color: #085662;
    background: #44cade;
    }

    #sobre .sobre{
        color: #085662;
    background: #44cade;
    }